///*******************************************************************************************///
///******************************* EFEITO ZOOM OUT E ZOOM IN  ********************************///
///*******************************************************************************************///
///*******************************************************************************************///


.animated2 { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 

@-webkit-keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateX(-30px); 
    } 
    80% { 
        -webkit-transform: translateX(10px); 
    } 
    100% { 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(-30px); 
    } 
    80% { 
        transform: translateX(10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
} 

.bounceInRight { 
    -webkit-animation-name: bounceInRight; 
    animation-name: bounceInRight; 
}



@-webkit-keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateX(30px); 
    } 
    80% { 
        -webkit-transform: translateX(-10px); 
    } 
    100% { 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(30px); 
    } 
    80% { 
        transform: translateX(-10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
} 

.bounceInLeft { 
    -webkit-animation-name: bounceInLeft; 
    animation-name: bounceInLeft; 
}






@-webkit-keyframes bounceOutLeft { 
    0% { 
        -webkit-transform: translateX(0); 
    } 
    20% { 
        opacity: 1; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
} 
@keyframes bounceOutLeft { 
    0% { 
        transform: translateX(0); 
    } 
    20% { 
        opacity: 1; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
} 
.bounceOutLeft { 
    -webkit-animation-name: bounceOutLeft; 
    animation-name: bounceOutLeft; 
}



///*******************************************************************************************///
///******************************* EFEITO ZOOM OUT E ZOOM IN  ********************************///
///*******************************************************************************************///
///*******************************************************************************************///


@-webkit-keyframes zoom-out {
  0% {
    opacity: 1;
	transform: scale(1);
  }
 
  100% {
    opacity: 0;
	transform: scale(1.9);
	
  }
}

@keyframes zoom-out {
  0% {
    opacity: 1;
	transform: scale(1);
  }
 
  100% {
    opacity: 0;
	transform: scale(1.9);
	
  }
}




@-webkit-keyframes zoom-in {
  0% {
    opacity: 0;
	transform: scale(0.4);
  }
 
  100% {
    opacity: .9;
	transform: scale(1);
	
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
	transform: scale(0.4);
  }
 
  100% {
    opacity: .9;
	transform: scale(1);
	
  }
}


.zoom-out-ativo{     			 
	-webkit-animation: zoom-out 1s 1; /* Chrome, Safari, Opera */ 
    animation: zoom-out 1s 1;
 }


.zoom-in-ativo{     			 
	-webkit-animation: zoom-in 1s 1; /* Chrome, Safari, Opera */ 
    animation: zoom-in 1s 1;
 }
 
 
 @-webkit-keyframes zoom-out {
  0% {
	transform: scale(1);
  }
 
  100% {
    opacity: 0;
	transform: scale(1.9);
	
  }
}

@keyframes zoom-out {
  0% {
    opacity: 1;
	transform: scale(1);
  }
 
  100% {
    opacity: 0;
	transform: scale(1.9);
	
  }
}


 
 
 .box-login-entrar{		 
	-webkit-animation: box-login-entrar 1s 1; /* Chrome, Safari, Opera */ 
    animation: box-login-entrar 1s 1;
 }
 
 
 